/*menus-restaurants*/
header {
position: relative;
  

      .fa-arrow-left {
    
    position: absolute;
    color: black;
    font-size: 1.3em;
    top: 43%;
    left: 1.2em;
  }
}

.plats_photo {
    
  img {
width: 100%;
max-height: 24em;
object-fit:cover;
object-position: 50% 50%;
position: relative;
z-index: 0;

@media (max-width: 767px) {
  max-height: 15em;
}

  }

}
.menucarte {
margin-top: -3.8em;
border-radius: 2em 2em 0 0;
position: relative;
z-index: 1;
background-color: white;
}
.carte {

margin: 0em;  





h1 {
 font-size: 1.7em;
 display: flex;
 justify-content:space-between;
 padding-right: 2em;
 padding-left: 1.7em;
 padding-top: 1.2em;
 align-items: center;
 

 @media (min-width: 768px) and (max-width: 992px)
  {
   padding-right: 30%;
   padding-left: 24%;
    
  }
  @media (max-width:767px) {
    padding-right: 0.8em;
   padding-left: 0.6em;
   
  }

}


.box_menu {
padding: 0;               
display: flex;

@media screen and ( max-width: 992px )

{
 display: flex;                 
 flex-wrap: wrap;
 margin: auto;
 width: 65%;
 
}



@media (max-width: 500px)
{
 flex-direction: column;             
 margin: 0em;
 padding-left: 0.5em;
 width: 100%;
 

 
}

.box_plats {
  @for $i from 1 through 12 {

    &:nth-child(#{$i}) {
  
      animation-delay: 300ms * $i;
    }
  }
  
    animation: validation 3s;
    animation-fill-mode:both;


 border: none;
 margin: 0;
 padding: 0.6em;
 width: 99%;
 min-width: 26%;            

 @media screen and ( min-width: 993px )
 {
  margin:1em 1.5em 1em 1.5em;
 
 }

  legend {
   text-transform:uppercase ;
   width: 3em;
   padding-top: 1em;
   border-bottom: 0.2em solid $colortertiaire ;
   
      }
     
}

.box_détail {
  @for $i from 1 through 12 {

    &:nth-child(#{$i}) {
  
      animation-delay: 400ms * $i;
    }
  }
  
    animation: validation 2s;
    animation-fill-mode:both;
 
 display: flex;
 font-size: 1em;
 margin:0.8em 0 1.3em 0;                      
 padding: 0.5em 0 0.5em 0.5em;   
 @include box_shadow;
 width: 99%;
 cursor: pointer;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;  



   .food {
 display: flex;
 flex-direction: column;  
 line-height: 1.6;
 overflow: hidden;
 text-overflow: ellipsis;
 white-space: nowrap;

        .food_1 {
   font-size: 1.1em;
   font-weight: 580;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   
    }
        .food_2 {       
   font-size: 0.8em;
   overflow: hidden;
   text-overflow: ellipsis;
    white-space: nowrap;
     }
 
 }

.prix {
 display: flex;
 align-items: flex-end;
 font-weight: 500;
 margin: 0 1em 0 auto;
 line-height: 1.5;
 overflow: hidden;
 text-overflow: ellipsis;
  white-space: nowrap;
}

.check {
 display: grid;
 place-items: center;
 margin-right: -3.1em;
 width: 3em;
 background-color: $colortertiaire;
 color: $colortertiaire;
 transition: margin-right 0.5s;
 margin-top: -0.5em;
 margin-bottom: -0.5em;
 font-size: 1.5em;     
 overflow: hidden;
 text-overflow: ellipsis;
  white-space: nowrap;            

      i {
       border-radius: 1em;
       display: grid;
       place-items: center;      
       background: white;
       color: $colortertiaire;
       aspect-ratio: 1/1;
       width: 1em;

      
      
     }
}

&:hover { 
 .check {
 margin-right: 0;

 i {
  animation: check 0.5s ease-in-out;   
   
   }

        }
      }

}

}

 .button {
    text-align: center;
 }

}